<header class="header">Log in</header>

<div class="container">
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.submit "Log in" %>
<% end %>
</div>