<header class="header">Feeds</header>

<div class="container">
  <table class="table">
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.user.name %></td>
        <td><%= feed.content %></td>
        <td><%= link_to 'Show', feed, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Feed', new_feed_path %>
