<header class="header">Feeds</header>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.content %></td>
        <td><%= link_to 'Show', feed, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
